* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 22px;
  min-height: 100vh;
  background-color: #201f1f;
  display: flex;
}

input,
button,
textarea {
  font: inherit;
}

.layout {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

.app {
  width: 100%;
  max-width: 800px;
  height: 94vh;
  overflow-y: scroll;
  border-radius: 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  background-color: #eee;
}

.app::-webkit-scrollbar {
  display: none;
}

/* ||||||  header   */
.header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
  border-radius: 16px 16px 0 0;
}

.header__search lable {
  display: none;
}

.header__search input {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 8px;
}

.header__nav {
  display: flex;
}

.header__nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 24px;
}

.header__nav a:first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0;
  }

  .app {
    min-height: 100vh;
    border-radius: 0;
  }

  .header {
    flex-direction: column;
    border-radius: 0;
  }

  .header__search input {
    padding: 4px;
  }

  .header__nav {
    margin-top: 16px;
  }
}

/*  ||||||  postcard */
.post-card {
  border-bottom: 1px solid black;
  padding: 16px;
}

.post-card__link {
  text-decoration: none;
  color: #1b1a1aee;
}

.post-card__top {
  display: flex;
  justify-content: space-between;
}

.post-card__body {
  margin-top: 16px;
}

/* |||||  postpage  */
.post-page {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.post-page__top {
  display: flex;
  justify-content: space-between;
}

.post-page__body {
  margin: 32px 0 64px;
  max-width: 600px;
}

.post-page__btn--edit,
.post-page__btn--del {
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.post-page__btn--del {
  background-color: #d81e5b;
  margin-left: 16px;
}

.post-page__back {
  transform: translateY(-20px);
}

.post-page__back a {
  color: #333;
}

@media screen and (max-width: 425px) {
  .post-page {
    padding: 32px 16px;
  }

  .post-page__date,
  .post-card__date {
    font-size: 16px;
  }
}

/*  |||||||  new post */
.form {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
}

.form label {
  margin-bottom: 8px;
  margin-top: 24px;
  font-weight: bold;
}

.form input,
textarea {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid gray;
}

.form textarea {
  height: 200px;
}

.form button {
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  padding: 16px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .form {
    padding: 8px 16px;
  }
}
